* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: white;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}





/* TIPOGRAFÍAS */
/* Tipografía Título */

h1 {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.pfooter ul li a {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.nav-desktop {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



/* MENÚ*/
.logo {
    padding-left: 1vw;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
}

.menu ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}


/*Menú Tablet & Móvil*/
.nav-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 9999;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}

.menu-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-mobile li a {
    font-size: 40px;
    color: white;
}

/*Menú Iconos*/
.hamb {
    display: none;
    cursor: pointer;
    font-size: 30px;

    z-index: 10000;
}

.side-menu {
    display: none;
}

.hamb .fa-xmark {
    display: none;
    color: white;
    padding: 20px;
}



.side-menu:checked ~ .nav-mobile {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .fa-bars {
    display: none;
}

.side-menu:checked ~ .hamb .fa-xmark {
    display: block;
}


/* 1) FESTIVAL */
/* The Story of Cannes */


.hero-home {
    position: relative;
    width: 100%;
}

.img-hero {
    width: 100%;
    display: block;
    padding-top: 0.5vw;
}


.titulo-hero {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    margin-top: 2vw;
}


.texto {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 6vw;
    font-size: 1.75rem;
}

/* The Story of Cannes */

.room-block {
    display: flex;
    flex-wrap: wrap;
}

.gallery,
footer {
    width: 100%;
}

.room-top {
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.room-top:first-child {
    width: 14.5%;
    padding: 3.25vw 0;
    background-color: black;
    color: white;
}

.room-top:first-child > * {
    writing-mode: vertical-rl;     
    transform: rotate(180deg);     
    font-family: "Imbue", serif;
    font-weight: 400;
    font-size: 9.75vw;            
    white-space: nowrap;
}

.room-content {
    display: flex;
    align-items: flex-start;
    padding-top: 14.5vw;
    flex: 1;
    background-color: black;
    color: white;
}

.room-design {
    width: 32%;
    margin-left: 6.5%;
}

.room-design img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border: 1px solid white;
}


.room-text {
    width: 44%;
    margin-left: 4.7%;               
    margin-top: 1.4vw;              
}

.room-text p {
    font-size: 1.55vw;
    line-height: 1.3;
    white-space: pre-line;          
    margin-top: -1.3em;  
}           

.boton {
    width: 100%;
    padding-left: 53.7%;            
    margin-top: -14.8vw;           
}

.boton > * {
    display: inline-block;
    padding: 10px 19px;
    border-radius: 30px;
    background-color: #ffb0ef;
    color: black;
    font-family: "Elms Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}


/* Selected Films */
.gallery{
    display: flex;
    justify-content: center;
    gap: 1vw;
    padding-top: 2vw;
    padding-bottom: 7vw;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 30%;
}

.column img{
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.column img:hover{
    transform: scale(1.05);
    position: relative;
    z-index: 1;
}

.selected-top {
    width: 100%;
    justify-content: flex-start;
    padding: 4vw 4vw 0 4vw;
}

.selected-top h1 {
    white-space: nowrap;
}

.room-top h1{
    margin-top: 50px;
    font-size: 100px;
    width: 50%;
    
}


/* 2) EXPLORE */
/* The Jury*/

.jury {
    background-color: white;
    color: black;

    padding: 5vw 9vw 8vw 9vw;
}

.jury-title {
    font-family: "Alien Block", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 4vw;
}

.jury-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8vw;
}

.jury-images {
    width: 45%;
    position: relative;
}

.jury-photo {
    width: 100%;
    height: 400px;

    object-fit: cover;

    display: none;
}


/* Primera foto visible */

.jury-photo.active {
    display: block;
}

.jury-images > p {
    text-align: center;
    margin-top: 15px;
    font-family: "Elms Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}



.jury-names {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.name {
    font-family: "Homemade Apple", cursive;
    font-size: 2rem;
    padding: 20px 25px;
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: color 0.3s ease;
}


.name:hover {
    color: #ff9ee2;
}

/* AWARDS */

.award {
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5vw;
}

.award .room-content {
    display: contents;
}

.award .room-top{
    width: 15.5vw;
    padding: 0;
    background-color: black;
    color: white;
    border-radius: 4vw 0 0 4vw;
    align-self: stretch;
}

.award .room-top h1{
    margin: 0;
    width: auto;
    font-size: 6vw;
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.award .room-design {
    width: 37vw;
    margin-left: 0;
    padding: 8wv 5.5vw 8vw 0;
    background-color: black;
    border-radius: 0 4vw 4vw 0;
}
.award .room-design img {
    aspect-ratio: 5 /6 ;
    border-radius: 2vw;
}

.award .room-text {
    width: 36vw;
    margin: 0 0 0 2.5vw;
    padding: 3.5vw;
    background-color: black;
    color: white;
    border-radius: 4vw;
}

.award .room-text h2 {
    font-size: 2.5vw;
    margin-bottom: 1.5vw;
}

.award .room-text p {
    font-size: 1.25vw;
    line-height: 1.5;
    white-space: normal;
    margin-top: 0;
}

.award.reverse .room-text{
    order: 1;
    margin: 0 2.5vw 0 0;
    text-align: right;
}

.award.reverse .room-design{
    order: 2;
    padding: 8vw 0 8vw 5vw;
    border-radius: 4vw 0 0 4vw;
}
.award.reverse .room-top {
    order: 3;
    border-radius: 0 4vw 4vw 0;
}

.award.reverse .room-top h1{
    transform: none;
}


/* 3) TICKETS */
.tabla {
    width: 55%;
    margin: 40px auto 100px auto;
}

.tabla > div {
    width: 100%;
}


.tabla > div > div:first-child {
    margin-bottom: 30px;
}

.tabla p {
    font-family: "Elms Sans", sans-serif;
}

.tabla > div > div:first-child p:first-child {
    font-weight: 600;
    margin-bottom: 8px;
}


.tabla > div > div:nth-child(2) > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 12px 20px;
    margin-bottom: 15px;
}

.tabla h1 {
    font-size: 80px;
    margin-top: 80px;
}


/* Senior / Adult / Student */

.tabla label {
    display: block;
    font-family: "Elms Sans", sans-serif;
}

.tabla label:first-child {
    font-size: 1rem;
    font-weight: 500;
}

.tabla label:last-child {
    font-size: 0.7rem;
    margin-top: 3px;
}


/* Contador */

.tabla input[type="number"] {
    width: 70px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
}


/* Saldo*/

.saldo {
    width: 65%;
    max-width: 850px;
    margin: 80px auto;
    background-color: black;
    color: white;
    padding: 50px 70px;
    border: none;
    border-radius: 0;
}

.saldo > div:first-child {
    padding: 0 0 30px 0;
}

.saldo > div:first-child p {
    font-family: "Elms Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.saldo > div:nth-child(2) {
    padding: 20px 0;

    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.saldo > div:nth-child(2) > div {
    margin: 0;
    padding: 0;
}

.saldo > div:nth-child(2) > div > div {
    display: flex;
    justify-content: space-between;

    padding: 10px 0;
}

.saldo p {
    font-family: "Elms Sans", sans-serif;
    font-size: 0.85rem;
}

.saldo > div:nth-child(3) {
    padding: 25px 0;
    font-weight: 600;
    border-bottom: 1px solid #444;
}


/* Botón */

.saldo > div:last-child {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0 0 0;
}

.saldo input[type="submit"] {
    background-color: #ff9ee2;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-family: "Elms Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
}


/* FOOTER */
/* FOOTERgeneral */
footer {
    padding: 7%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 7vw;
    color: white;
    background-color: black;
}

.footersection {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.footer-logo {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.footer-logo img {
    width: 12vw;
    max-width: 220px;
    min-width: 120px;
    height: auto;
}

/* FOOTERprimerhijo */
footer > :first-child > div {
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
}

footer > :first-child > div > :last-child {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

/* FOOTERsegundohijo */
footer > :nth-child(2) {
    display: none;
    
}

footer > :nth-child(2) > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5vw;
}

footer > :nth-child(2) > div > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5vw;
}

footer > :nth-child(2) > :first-child > ul {
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
}

footer > :nth-child(2) > :last-child > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vw;
}

.footerlinks {
    display: flex;
    justify-content: flex-start ;
    align-items: flex-start;
    gap: 1vw;
}

.footerlinks p {
    font-size: 1.5rem;
    line-height: 1.3;
}

.footerlinks i {
    font-size: 1.6rem;
}

/* FOOTERtercerhijo */
footer > :nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 6vw;
}

footer > :nth-child(3) > div:first-child::before {
    content: "Experience Cinema Like Never Before.";
    display: block;
    max-width: 14em;
    margin-bottom: 2vw;
    font-family: "Elms Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.7rem;
}

footer > :nth-child(3) > div:first-child ul {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
}

footer > :nth-child(3) > div:first-child i {
    font-size: 2.8rem;
}

footer > :nth-child(3) > div:last-child {
    max-width: 36%;
}

footer > :nth-child(3) > div:last-child ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5vw;
}

footer > :last-child {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #444;
    padding-top: 1.5vw;
}

footer > :last-child > ul {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}

footer > :last-child > ul li a {
    font-family: "Elms Sans", sans-serif;
    font-weight: 200;
    font-size: 1rem;
}